.availability-ribbon.availability--available .availability-banner {
  fill: #6BBD2E;
}

.availability-ribbon.availability--soon .availability-banner {
  fill: #3498DB;
}

.availability-ribbon.availability--unavailable .availability-banner {
  fill: #9E5697;
}

.availability-ribbon.availability--private .availability-banner {
  fill: #84487E;
}

.availability-text {
  font-family: Helvetica;
  fill: #fff;
}


.availability-badge {
  border-radius: 2px;
  font-weight: normal;
  padding: 3px 4px 1px;
  text-decoration: none;
}

.availability-badge.availability--available {
  background-color: #E1F3CB;
}

.availability-badge.availability--soon {
  background-color: #CFF2FF;
}

.availability-badge.availability--unavailable {
  background-color: #E8D4E6;
}

.availability-badge.availability--private {
  background-color: #E8D4E6;
}
