.availability-ribbon.available .availability-ribbon__banner {
  fill: #6BBD2E;
}

.availability-ribbon.soon .availability-ribbon__banner {
  fill: #3498DB;
}

.availability-ribbon.unavailable .availability-ribbon__banner {
  fill: #9E5697;
}

.availability-ribbon.private .availability-ribbon__banner {
  fill: #84487E;
}

.availability-ribbon__text,
.availability-ribbon__power {
  font-family: Helvetica;
  fill: #FFF;
}

.availability-ribbon__power {
  fill: rgba(187, 187, 187, 0);
  transition: fill 0.2s ease;
}

.availability-ribbon:hover .availability-ribbon__power {
  fill: rgba(187, 187, 187, 1);
}


.availability-badge {
  border-radius: 2px;
  font-weight: normal;
  padding: 3px 4px 1px;
  text-decoration: none;
}

.availability-badge.available {
  background-color: #E1F3CB;
}

.availability-badge.soon {
  background-color: #CFF2FF;
}

.availability-badge.unavailable {
  background-color: #E8D4E6;
}

.availability-badge.private {
  background-color: #E8D4E6;
}
